body {
    height: 0;
    width: 100%;
    padding: 0;
    background-color: black;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

header{
    align-items: center;
    color: antiquewhite;
    text-align: center;
    padding: 10px;
    background-color: rgb(0, 0, 0);
}

nav{
    align-items: center;
    background-color: black;
    text-align: center;
    padding: 10px;
}

nav a{
    cursor: not-allowed;
    text-decoration: none;
    align-items: center;
    color: aliceblue;
    padding: 10px;
    margin: 150px;
    text-align: center;
    font-size: 25px;
}

.videos18{
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    margin: 0px;
    padding: 0px;
    background-color: rgb(0, 0, 0);
}

.xplus{
    margin: 50px;
    padding: 10px;
    background-color: rgb(0, 0, 0);
}

.videoscp{
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    margin: 0px;
    padding: 0px;
    background-color: rgb(0, 0, 0);
}

.cp1{
    border-radius: 20px;
    width: 195px;
}

.cp4{
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    width: 300px;
    height: 350px;
}

.vercp{
    background-color: rgb(0, 0, 0);
    color: blanchedalmond;
}

.titulocp6 {
    text-decoration: none;
    color: aqua;
    padding-left: 70px;
    margin: auto;
}

.por1{
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    width: 300px;
    height: 350px;
}